* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
}
.cardsection{
  display: flex;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;
}