*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000;
  color: white;
}
button{
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background: gray;;
  font-size: 28px;
  color: white;
}
div{
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 50px;
}