*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000;
  color: white;
}
div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px 10px;
}